{% extends "common/base.html" %}

{% block nav %}
<div><a href="?p=game">Games</a></div>
<div><a href="?p=player">Players</a></div>
<div><a href="?p=cost">Costs</a></div>
<div><a href="?p=contrib">Contributions</a></div>
{% endblock %}

{% block main %}
<h3>Records</h3>
<p>Balance for year {{year}} is:
{% if bal < 0 %}
<span style='color:red;'>£{{bal|floatformat:'2'}}</span>.
{% else %}
£{{bal}}.
{% endif %}
Total play count: {{play_count}}.</p>

{% if p == 'game' %}
{% if games %}
<ul>
  {% for g in games %}
    <li>{{g.play_date|date:'d M Y'}}: {{g.players.all}}
  {% endfor %}
</ul>
{% endif %}
<p><a href="{% url 'dryang-badminton:list-all' %}?p=game&year={{year|add:'-1'}}">{{year|add:'-1'}}</a>
{% if year < current_year %}
&nbsp;<a href="{% url 'dryang-badminton:list-all' %}?p=game">Current year</a>
{% endif %}
</p>
{% elif p == 'player' %}
{% if players %}
<ul>
  {% for p in players %}
    <li>{{p.0}}:
    {% if p.1 < 0 %}
<span style='color:red;'>£{{p.1|floatformat:'2'}}</span>
    {% else %}
£{{p.1|floatformat:'2'}}
    {% endif %}
  {% endfor %}
</ul>
{% endif %}
<p><a href="{% url 'dryang-badminton:list-all' %}?p=player&year={{year|add:'-1'}}">{{year|add:'-1'}}</a>
{% if year < current_year %}
&nbsp;<a href="{% url 'dryang-badminton:list-all' %}?p=player">Current year</a>
{% endif %}
</p>
{% elif p == 'cost' %}
{% if costs %}
<ul>
  {% for c in costs %}
    <li>{{c.cost_date|date:'d M Y'}}: £{{c.amount|floatformat:'2'}}, {{c.type.name}}
  {% endfor %}
</ul>
{% endif %}
<p><a href="{% url 'dryang-badminton:list-all' %}?p=cost&year={{year|add:'-1'}}">{{year|add:'-1'}}</a>
{% if year < current_year %}
&nbsp;<a href="{% url 'dryang-badminton:list-all' %}?p=cost">Current year</a>
{% endif %}
</p>
{% elif p == 'contrib' %}
{% if contribs %}
<ul>
  {% for c in contribs %}
    <li>{{c.contribution_date|date:'d M Y'}}: £{{c.amount|floatformat:'2'}}, {{c.type.name}}
  {% endfor %}
</ul>
{% endif %}
<p><a href="{% url 'dryang-badminton:list-all' %}?p=contrib&year={{year|add:'-1'}}">{{year|add:'-1'}}</a>
{% if year < current_year %}
&nbsp;<a href="{% url 'dryang-badminton:list-all' %}?p=contrib">Current year</a>
{% endif %}
</p>
{% endif %}
{% endblock %}
