{% extends "common/base.html" %}

{% block nav %}
<div><a href="?p=game">Games</a></div>
<div><a href="?p=player">Players</a></div>
<div><a href="?p=cost">Costs</a></div>
<div><a href="?p=contrib">Contributions</a></div>
{% if is_player %}
<div><a href="?p=mybal">My balance</a></div>
{% endif %}
{% endblock %}

{% block main %}
<h3>Records</h3>
<div>Balance for year {{year}} is:
{% if bal < 0 %}
<span style='color:red;'>£{{bal|floatformat:'2'}}</span>.
{% else %}
£{{bal}}.
{% endif %}
Total play count: {{play_count}}.</div>

{% if p == 'game' %}
  {% if games %}
<table>
    {% for g in games %}
  <tr>
    <td>{{g.play_date|date:'d M Y'}}:</td>
    <td>
      {{g.players.all|length}} players
{% comment %}
      {% for p in g.players.all %}
      {{p.first_name}} {{p.last_name}}{% if not forloop.last %},{% endif %}
      {% endfor %}
{% endcomment %}
    </td>
  </tr>
    {% endfor %}
</table>
  {% endif %}
{% elif p == 'player' %}
  {% if players %}
<table>
    {% for p in players %}
  <tr>
    <td>{{p.0}}:</td>
    <td>
      {% if p.1.1 < 0 %}
      <span style='color:red;'>£{{p.1.1|floatformat:'2'}}</span>
      {% else %}
      £{{p.1.1|floatformat:'2'}}
      {% endif %}
    </td>
    <td>({{p.1.0}} game{{p.1.0|pluralize}})</td>
  </tr>
    {% endfor %}
</table>
  {% endif %}
{% elif p == 'cost' %}
  {% if costs %}
<table>
    {% for c in costs %}
  <tr>
    <td>{{c.cost_date|date:'d M Y'}}:</td>
    <td>£{{c.amount|floatformat:'2'}},</td>
    <td>{{c.type.name}}</td>
  </tr>
    {% endfor %}
</table>
  {% endif %}
{% elif p == 'contrib' %}
  {% if contribs %}
<table>
    {% for c in contribs %}
  <tr>
    <td>{{c.contribution_date|date:'d M Y'}}:</td>
    <td>£{{c.amount|floatformat:'2'}},</td>
    <td>{{c.type.name}}</td>
  </tr>
    {% endfor %}
</table>
  {% endif %}
{% elif p == 'mybal' %}
<div>{{user.first_name}}, you played
  {% if my_games %}{{my_games|length}}{% else %}0{% endif %}
  game(s) in {{year}}. Your current balance is:
{% if my_bal < 0 %}<span style='color:red;'>£{{my_bal|floatformat:'2'}}</span>{% else %}£{{my_bal}}{% endif %}.</div>

<ul>
  {% for g in my_games %}
    <li>{{g.play_date|date:'d M Y'}}
  {% endfor %}
</ul>
{% endif %}
{% if p == 'game' or p == 'player' or p == 'cost' or p == 'contrib' or p == 'mybal' %}
<div><a href="{% url 'dryang-badminton:list-all' %}?p={{p}}&year={{year|add:'-1'}}">{{year|add:'-1'}}</a>
  {% if year < current_year %}
&nbsp;<a href="{% url 'dryang-badminton:list-all' %}?p={{p}}">Current year</a>
  {% endif %}
</div>
{% endif %}
{% endblock %}
