{% extends "common/base.html" %}

{% block css_and_js %}
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}badminton2/css/badminton2.css'/>
<script type='text/javascript' src='{{ STATIC_URL }}badminton2/js/badminton2.js'></script>
{% endblock %}

{% block nav%}
  {% if user.is_authenticated %}{# Authenticated user #}
<form>{% csrf_token %}
  <div>
    <b>Record:</b>
    <select id="badminton2_record" class="badminton2_select">
      <option value="g" selected="selected">Games</option>
      <option value="p">Players</option>
      <option value="c">Costs</option>
      <option value="ctb">Contributions</option>
      <option value="b">My balance</option>
    </select>
  </div>
</form>
  {% endif %}
{% endblock %}

{% block main %}
  {% if user.is_authenticated %}{# Authenticated user #}
<div>Welcome, {{user.first_name}}!</div>
  {% else %}{# Un-authenticated user #}
<h2>Friday badminton club</h2>
<div>Welcome to Friday badminton club! Please <a href="{% url 'dryang-auth:login' %}?next={% url 'dryang-badminton2:index' %}">log in</a> to  access your records.</div>
  {% endif %}
{% endblock %}
