.zoomable-image-container { /* Same size as .zoomable-image-img */
  display            : inline-block; 
  -moz-user-select   : none;
  -webkit-user-select: none;
  -ms-user-select    : none;
  user-select        : none;
  z-index            : 10;
}

.zoomable-image-img {
/*  left    : 0;
  top     : 0;*/
  z-index : 11;
}

.zoomable-image-rect {
  position: absolute;
  border  : 1px dotted #000;
  z-index : 12;
}
