{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title|default:'dryang.com' }}</title>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}common/css/base.css'/>
    <script type='text/javascript' src='{{ STATIC_URL }}common/js/jquery-1.11.1.min.js'></script>
    <script type='text/javascript'>
      var STATIC_URL = '{{ STATIC_URL }}';
    </script>
    {% block css_and_js %}{% endblock %}
    <!--[if lt IE7]>
    <style type="text/css">
      #container {
        height: 100%;
      }
    </style>
    <![endif]-->
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="user">
          <p>
            {% if not user.is_authenticated %}
            <a href="{% url 'dryang-auth:login' %}?next={% firstof request.path '/' %}">Log in</a>
            {% else %}
            <strong>{{ user.first_name }} {{ user.last_name }}</strong> | <a href="{% url 'dryang-auth:logout' %}">Log out</a>
            {% endif %}
          </p>
        </div>
      </div>
      <div id="content">
        <div id="nav">{% block nav %}{% endblock %}</div>
        <div id="main">{% block main %}{% endblock %}</div>
      </div>
      <div id="footer">
        <p>&copy; 2014 by dryang.com. All Rights Reserved.</p>
      </div>
    </div>
  </body>
</html>
