{% extends "common/base.html" %}

{% block css_and_js %}
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}common/jquery-ui-1.11.2/jquery-ui.min.css'/>
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}verif/css/verif.css'/>
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}verif/widgets/station-finder/station-finder.css'/>
<script type='text/javascript' src='{{ STATIC_URL }}common/jquery-ui-1.11.2/jquery-ui.min.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}verif/js/verif.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}verif/widgets/station-finder/station-finder.js'></script>
{% endblock %}

{% comment %}
Navigation menu
{% endcomment %}
{% block nav%}
<form>{% csrf_token %}
  <div>
    <b>Dataset:</b>
    <select id="verif_dataset" class="verif_select">
      <option value="boe" selected="selected">Bank of England</option>
      <option value="emep">EMEP</option>
      <option value="gaw">GAW</option>
    </select>
  </div>
  <div id="verif_stn_finder"></div>
  <div id="verif_plot_type_block" style="display:none;">
    <br/>
    <b>Type of plot:</b>
    <select id="verif_plot_type" class="verif_select">
      <option value="mean_plot">Mean plot</option>
      <option value="score_map" selected="selected">Score map</option>
      <option value="time_series">Time series</option>
      <option value="scatter_plot">Scatter plot</option>
      <option value="histogram">Histogram</option>
    </select>
  </div>
  <div>
    <br/>
    <input id="verif_plot_btn" type="submit" value="Plot"/>
  </div>
</form>
{% endblock %}

{% comment %}
Main body
{% endcomment %}
{% block main %}
<h2>Verification App</h2>
<div id="verif_container"><img id="verif_img"/></div>
<div><p id="verif_msg"></p></div>
{% endblock %}
