{% load staticfiles %}

<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}verif/css/verif.css'/>

<script type='text/javascript' src='{{ STATIC_URL }}verif/js/jquery.min.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}verif/js/verif.js'></script>
<script type='text/javascript'>
  var STATIC_URL = '{{ STATIC_URL }}';
</script>

<h2>Verification App</h2>

{% comment %}
Navigation menu
{% endcomment %}
<div id="leftColumn">
  <form>{% csrf_token %}
    <select id="verif_plot_type" style="width:120px;">
      <option value="mean_plot">Mean plot</option>
      <option value="score_map" selected="selected">Score map</option>
      <option value="time_series">Time series</option>
      <option value="scatter_plot">Scatter plot</option>
      <option value="histogram">Histogram</option>
    </select>
  </form>
</div>

{% comment %}
Main body
{% endcomment %}
<div id="mainColumn">
  <div id="verif_block_plot" style="display:none">
    <label id="verif_msg"></label>
    <img id="verif_img"></img>
  </div>
</div>
