#verif_container { /* Same size as #verif_img */
  display            : inline-block; 
  -moz-user-select   : none;
  -webkit-user-select: none;
  -ms-user-select    : none;
  user-select        : none;
  z-index            : 10;
}

#verif_img {
/*  left    : 0;
  top     : 0;*/
  z-index : 11;
}

#verif_rect {
  position: absolute;
  border  : 1px dotted #000;
  z-index : 12;
}

.verif_select {
  width : 120px;
  margin: 0.2em;
}
