#verif_container {
  width              : 0px;
  height             : 0px;
  -moz-user-select   : none;
  -webkit-user-select: none;
  -ms-user-select    : none;
  user-select        : none;
  z-index            : 10;
}

#verif_img {
  left    : 0px;
  top     : 0px;
  z-index : 11;
}

#verif_rect {
  position: absolute;
  border  : 1px dotted #000;
  z-index : 12;
}

.verif_select {
  width : 120px;
  margin: 0.2em;
}
