{% load staticfiles %}

<script type='text/javascript' src='{{ STATIC_URL }}maccverif/js/jquery.min.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}maccverif/js/maccverif.js'></script>

<h2>MACC Verification App</h2>

{% comment %}
Navigation menu
{% endcomment %}
<form>{% csrf_token %}
<div class="sideBlock">
  <select id="maccverif_plot_type" style="width:120px;">
    <option value="mean_plot">Mean plot</option>
    <option value="score_map" selected="selected">Score map</option>
    <option value="time_series">Time series</option>
    <option value="scatter_plot">Scatter plot</option>
    <option value="histogram">Histogram</option>
  </select>

  <div>
    <br/>
    <input id="maccverif_plot_btn" type="submit" value="Plot"/>
  </div>
</div>
</form>

{% comment %}
Main body
{% endcomment %}
<div class="mainBody">
  <div id="maccverif_block_plot" style="display:none">
    <label id="maccverif_msg"></label>
    <div id="maccverif_chart"></div>
  </div>
</div>
