.badminton2_select {
  width : 10em;
  margin: 0.2em;
}

.badminton2_pie_label {
  border    : 1px solid grey;
  font-size : 8pt;
  text-align: center;
  padding   : 5px;
  color     : white;
}

#badminton2_msg {
}

#badminton2_plot {
  width : 600px;
  height: 400px;
}
